/* img{
    width: 250px;
    height: 250px;
    cursor: pointer;
} */

.myimg1{
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.myimg2{
    width: 350px;
    height: 350px;
    transform: scale(1.5);
}